.title {
    width: 100%;
    height: 60px;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    h3 {
        position: absolute;
        width: 215px;
        height: 25px;
        left: 24px;
        top: 66px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 25px;
    }
}

.image {
    width: 90%;
    height: 140px;

    img {
        width: 100%;
        height: 100%;
    }
}

.search {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 90%;
        font-size: 15px;
    }
}

.category {
    height: 60px;

    select {
        width: 80%;
        margin-left: 15px;
        border-bottom: 1px solid grey;
    }
}

.categoryImage {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .CategoryOne {
        width: 100px;
        height: 70px;

        img {
            width: 100%;
            height: 100%;
        }

        p {
            margin-left: 10px;
        }
    }
}

.ProductCard {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 20px;
    gap: 10;
    overflow: auto;
    .Product {
        width: 100%;
        height: 100px;
        position: relative;

        .imageProduct {
            position: absolute;
            width: 65px;
            height: 62px;
            top: 6px;
            left: 6px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .imageTitle {
            position: absolute;
            width: 106px;
            height: 25px;
            top: 5px;
            left: 110px;
            font-size: 17px;
            font-weight: bold;
        }

        .desc {
            position: absolute;
            left: 34.88%;
            right: 9.3%;
            top: 32.34%;
            bottom: 34.44%;
            font-size: 16px;
        }

        .Price {
            position: absolute;
            width: 106px;
            height: 25px;
            left: 260px;
        }

        .icon {
            height: 30px;
            position: absolute;
            left: 79.3%;
            right: 7.21%;
            top: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 33.37%;
            background: #61b846;
            border-radius: 5px;

            p {
                font-size: 30px;
                color: white;
                margin-top: 4px;
            }
        }
    }
    .btn {
        border: 1px solid #61b846;
    }
}


.bottomTab{
    width: 100%;
    height:100px;
    background-color: #fff;
    display: flex;
    .tab {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            font-size: 25px;
        }
    }
}