.Email input {
    border-bottom:1px solid black;
    
}
.Email input:focus {
    outline:none;
    border:none;
}
.Register input {
    border-bottom:1px solid black;
}
.Register input:focus{
    outline:none;
    border:none;
}