.App{
  display:flex;
  justify-content: center;
  align-items:center;
}
.body {
width:100%;
height:100vh;
border:2px solid black;
display:flex;
justify-content:center;
align-items:center;
overflow-y:auto;
}

.Login {
  width:400px;
  height:100vh;
  border:2px solid black;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
.Email,.Register{
  width:100%;
  height:100px;
  justify-content:center;
  align-items:center;
}
.Email,.Register button {
  margin-top:center;
}